<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\project_database.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>

    </system.web>
</configuration>
